:root {
    --background: #fff;
    --title: #000;
    --text: #4c4c4c;
    --shadow: #0000001a;
    --border: #a9a9a9;
    --outline: #636363;
    --outline-focus: #1f3040;
    --primary: #3535dc;
}

h1 {
    color: var(--title);
}

/* NAVBAR */

nav {
    position: sticky;
    top: 0;
    z-index: 999;
    display: flex;
    width: 100%;
    padding: 30px 20px 30px 20px;
    border-bottom: 1px solid var(--border);
    background-color: var(--background);
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

li {
    padding-right: 20px;
    display: inline-block;
    list-style: none;
}

li .meumenu {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: var(--text);
    border: 0 1px 0 0 var(--text);
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

li .meumenu:hover {
    border-bottom: 2px solid var(--text);
}

li .active-url {
    color: var(--primary);
    font-weight: 600;
    font-style: italic;
    border-bottom: 2px solid var(--primary);
    transition: all 0.3s ease;
}

li .active-url:hover {
    color: #21219a;
    border-bottom: 2px solid #21219a;
}

li>a {
    display: flex;
    gap: 5px;
}


.dropdown-user:hover .drop-user-content {
    display: flex;
}

.dropdown-user {
    display: flex;
    position: relative;
    flex-direction: column;
}

.drop-user-content {
    width: 380px;
    position: absolute;
    right: 0px;
    top: 40px;
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: var(--background);
    border: 1px solid var(--border);
    padding: 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.drop-user {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.drop-user-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.drop-img {
    width: 35px;
    height: 35px;
    background-color: #c6c6c6;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.drop-img:hover {
    background-color: #acacac;
}

.drop-img>i {
    color: #2c2c2c;
    font-size: 18px;
}

.drop-logout:hover {
    background-color: #8e1b1b;
}

/* TABLE */
table {
    border-collapse: collapse;
    width: 100%;
    max-width: 650px;
    border-radius: 10px;
}

th,
td {
    text-align: center;
    padding: 8px;
    min-width: 80px;
    max-width: 300px;
}

td > ul {
    display: block;
}

td > ul > li{
    text-decoration: dotted;
    display: block;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
    border-radius: 10px;
}

tr:hover {
    background-color: #ddd;
    cursor: pointer;
}

th {
    background-color: #3535dc;
    color: white;
}

.fa {
    font-size: 20px;
    padding: 10px;
    transition: all 0.3s ease;
}

.fa-pen-to-square {
    color: #3535dc;
}

.fa-trash {
    color: red;
}

.fa-user-check,
.fa-circle-check{
    color: rgb(0, 178, 0);
}

.fa-pen-to-square:hover {
    color: #1b1b8e;
}

.fa-trash:hover {
    color: #8e1b1b;
}

.fa-user-check:hover,
.fa-circle-check:hover{
    color: #008000;
}

.table-clients,
.table-products,
.table-sales{
    padding-block: 30px; 
    display: flex; 
    flex-direction: column;
    align-items: center; 
    gap: 30px;
}

.card-container-cart{
    border-radius: 10px;
    border: 1px solid var(--border);
    display: flex;
    gap: 30px;
    flex-direction: column;
    padding: 15px;
}

.card{
    display: flex;
    height: auto;
    width: 600px;
    flex-direction: row;
    align-items: start;
}

.card > ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: baseline;
    padding-left: 20px;
    border-left: 1px solid var(--border);
}

.card > ul > li{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--border);
}

.info-product-card{
    padding: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-name-card{
    width: 100%;
}

.info-name-card{
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.info-price-card{
    display: flex;
    justify-content: space-between;

}

.quantity-product{
    margin-top: 5px;
    font-size: 14px;
    font-weight: 600;
    color: var(--text);
}

.code-product{
    font-size: 12px;
    color: var(--outline);
}

.info-quantity-card{
    display: flex;
    gap: 10px;
}

button.btn-plus-product,
button.btn-minus-product,
button.btn-exclude-product{
    cursor: pointer;
    padding: 0;
    margin: 0;
    background-color: #fff;
    border: none;
    color: var(--title);
}

button.btn-plus-product:hover,
button.btn-minus-product:hover{
    color: var(--outline);
}

button.btn-submit-cart:hover{
    background-color: #21219a;
}

.card-footer-cart{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--border);
}


#h2-client{
    margin-right: 10px;
    width: 100%;
    max-width: 200px;
    text-wrap: balance;
}

.card-sales-container{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
    padding: 30px;
    max-width: 800px;
}

.card-sales{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--border);
}

.info-card-sales{
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.info-card-sales > ul{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2px;
}

.sales-id{
    font-size: 26px;
    font-weight: 600;
}